/Java/Test-BST-Part01/Q2/build/
/Java/Test-BST-Part01/Q2/nbproject/private/
/Java/Test-BST-Part01/Q2/dist/
/Training/CSD201_PE_SU24_757326/PaperNo_7/Q1/dist/
/Training/CSD201_SP24_187950/Q1/build/
/Training/CSD201_SP24_187950/Q1/nbproject/private/
/Training/CSD201_SP24_187950/Q2/build/
/Training/CSD201_SP24_187950/Q2/nbproject/private/
/Training/CSD201_PE_SU24_757326/PaperNo_7/Q2/dist/
/Training/CSD201_PE_SU24_757326/PaperNo_7/Q2/build/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q1/build/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q1/nbproject/private/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q2/build/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q2/nbproject/private/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q3/build/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q3/dist/
/Training/CSD201_PE_SU23_4/PaperNo_4/Q3/nbproject/private/